<!DOCTYPE html>
<html lang="en">
    <style>
        .button-container {
          text-align: center;
        }
    
        .button-container button {
          margin: 5px;
        }
        .header-container {
          text-align: center;
        }
      </style>
      
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina de inicio</title>
    </head>
    <body>
        <div class="header-container">
        <h1>Bienvenido a mi Siata de dudosa procedencia</h1>
        </div>
        <div class="button-container">
            <a href="/login"><button>Iniciar sesión</button></a>
	        <a href="/register"><button>Registrarse</button></a>
        </div>
    	
    </body>
</html>